<div class="row">
  <div class="col-12 col-sm-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4>Gelir Grafiği</h4>

        <div class="card-header-action">
          <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Seçenekler</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item has-icon"><i class="fas fa-sync"></i> Yenile</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item has-icon text-danger"><i class="far fa-trash-alt"></i> Temizle</a>
            </div>
          </div>

          <a href="#" class="btn btn-primary" id="btnViewAll">Tümünü Gör</a>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-lg-9">
            <div id="chart1"></div>

            <div class="row mb-0">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="list-inline text-center">
                  <div class="list-inline-item p-r-30">
                    <i data-feather="arrow-up-circle" class="col-green"></i>
                    <h5 class="m-b-0" id="kpiWeekly"> 0  TL</h5>
                    <p class="text-muted font-14 m-b-0">Haftalık Kazanç</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="list-inline text-center">
                  <div class="list-inline-item p-r-30">
                    <i data-feather="arrow-down-circle" class="col-orange"></i>
                    <h5 class="m-b-0" id="kpiMonthly">0 TL</h5>
                    <p class="text-muted font-14 m-b-0">Aylık Kazanç</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="list-inline text-center">
                  <div class="list-inline-item p-r-30">
                    <i data-feather="arrow-up-circle" class="col-green"></i>
                    <h5 class="mb-0 m-b-0" id="kpiYearly">0 TL</h5>
                    <p class="text-muted font-14 m-b-0">Yıllık Kazanç</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="row mt-5">
              <div class="col-7 col-xl-7 mb-3">Toplam Müşteri</div>
              <div class="col-5 col-xl-5 mb-3">
                <span class="text-big" id="stCustomers">0</span>
                <sup class="col-green" id="stCustomersPct">+0%</sup>
              </div>

              <div class="col-7 col-xl-7 mb-3">Toplam Gelir</div>
              <div class="col-5 col-xl-5 mb-3">
                <span class="text-big" id="stIncome">₺0</span>
                <sup class="text-danger" id="stIncomePct">0%</sup>
              </div>

              <div class="col-7 col-xl-7 mb-3">Tamamlanan Organizasyon</div>
              <div class="col-5 col-xl-5 mb-3">
                <span class="text-big" id="stProjects">0</span>
                <sup class="col-green" id="stProjectsPct">+0%</sup>
              </div>

              <div class="col-7 col-xl-7 mb-3">Toplam Gider</div>
              <div class="col-5 col-xl-5 mb-3">
                <span class="text-big" id="stExpense">₺0</span>
                <sup class="col-green" id="stExpensePct">+0%</sup>
              </div>

              <div class="col-7 col-xl-7 mb-3">Yeni Müşteriler</div>
              <div class="col-5 col-xl-5 mb-3">
                <span class="text-big" id="stNewCustomers">0</span>
                <sup class="col-green" id="stNewCustomersPct">+0%</sup>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>