<!-- Hero Section -->
<section id="hero" class="hero section light-background">
  @await Component.InvokeAsync("HeroSection")
</section><!-- /Hero Section -->

<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->

  @await Component.InvokeAsync("AboutSection")

</section><!-- /About Section -->

<!-- Why Us Section -->
<section id="why-us" class="why-us section light-background">

  @await Component.InvokeAsync("WhyUsSection")

</section><!-- /Why Us Section -->

<!-- Stats Section -->
<section id="stats" class="stats section dark-background">

  @await Component.InvokeAsync("StatsSection")


</section><!-- /Stats Section -->

<!-- Menu Section -->
<section id="menu" class="menu section">

  @await Component.InvokeAsync("MenuSection")


</section><!-- /Menu Section -->

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">

  @await Component.InvokeAsync("TestimonialSection")


</section><!-- /Testimonials Section -->

<!-- Events Section -->
<section id="events" class="events section">

  @await Component.InvokeAsync("EventSection")

</section><!-- /Events Section -->

<!-- Chefs Section -->
<section id="chefs" class="chefs section">

  @await Component.InvokeAsync("ChefSection")

</section><!-- /Chefs Section -->

<!-- Book A Table Section -->
<section id="book-a-table" class="book-a-table section">

  @await Component.InvokeAsync("BookTableSection")

</section><!-- /Book A Table Section -->

<!-- Gallery Section -->
<section id="gallery" class="gallery section light-background">
  @await Component.InvokeAsync("GallerySection")


</section><!-- /Gallery Section -->

<!-- Contact Section -->
<section id="contact" class="contact section">
  @await Component.InvokeAsync("ContactSection")

</section><!-- /Contact Section -->