@using YummyUI.DTOs.OrganizationDTOs
@model List<ResultOrganizationDto>

@{
    var apiBase = "http://localhost:5289";
    var rows = Model ?? new List<ResultOrganizationDto>();
}

<section id="events" class="events section">

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": { "delay": 5000 },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": { "slidesPerView": 1, "spaceBetween": 40 },
                    "1200": { "slidesPerView": 3, "spaceBetween": 1 }
                  }
                }
            </script>

            <div class="swiper-wrapper">
                @foreach (var item in rows)
                {
                    <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                         style="background-image: url('@(apiBase + item.OrganizationImage)')">
                        <h3>@item.OrganizationName</h3>
                        <div class="price align-self-start">
                            @item.OrganizationPrice.ToString(new System.Globalization.CultureInfo("az-Latn-AZ"))
                        </div>
                        <p class="description">
                            @item.OrganizationDescription
                        </p>
                    </div>
                    <!-- End Event item -->
                }
            </div>

            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- /Events Section -->
