
<aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html"> <img alt="image" src="~/Admin/assets/img/logo.png" class="header-logo" /> <span
                class="logo-name">Admin</span>
            </a>
          </div>
          <ul class="sidebar-menu">
             <li class="dropdown">
              <a asp-action="Index" asp-controller="Home" class="nav-link"><i data-feather="monitor"></i><span>Siteye Git</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="Index" asp-controller="Admin" class="nav-link"><i data-feather="airplay"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="CategoryList" asp-controller="Category" class="nav-link"><i data-feather="list"></i><span>Kategoriler</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="ProductList" asp-controller="Product" class="nav-link"><i data-feather="box"></i><span>Ürünler</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="FeatureArea" asp-controller="Feature" class="nav-link"><i data-feather="box"></i><span>Öne Çıkan Alan</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="AboutArea" asp-controller="About" class="nav-link"><i data-feather="edit"></i><span>Haqqımızda</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="ServiceList" asp-controller="Service" class="nav-link"><i data-feather="edit"></i><span>Neden Yummy</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="TestimonialList" asp-controller="Testimonial" class="nav-link"><i data-feather="edit"></i><span>Müşteriler</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="ChefList" asp-controller="Chef" class="nav-link"><i data-feather="users"></i><span>Şeflerimiz</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="FooterArea" asp-controller="Footer" class="nav-link"><i data-feather="users"></i><span>İletişim</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="FooterBottomArea" asp-controller="FooterBottom" class="nav-link"><i data-feather="users"></i><span>Footer</span></a>
            </li>
            <li class="dropdown">
              <a asp-action="GalleryList" asp-controller="Gallery" class="nav-link"><i data-feather="users"></i><span>Galeri</span></a>
            </li>
          </ul>
        </aside>