<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
@await Component.InvokeAsync("_AdminHeadComponentPartilas")
<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
     @await Component.InvokeAsync("_AdminNavComponentPartilas")
      <div class="main-sidebar sidebar-style-2">
     @await Component.InvokeAsync("_AdminSideBarComponentPartilas")
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          @RenderBody()
        </section>
      
      </div>
    @await Component.InvokeAsync("_AdminFootComponentPartilas")
    
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="~/Admin/assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="~/Admin/assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="~/Admin/assets/js/page/index.js"></script>
    <script src="assets/bundles/datatables/datatables.min.js"></script>
  <script src="~/Admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="~/Admin/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
  <script src="~/Admin/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
  <script src="~/Admin/assets/bundles/datatables/export-tables/jszip.min.js"></script>
  <script src="~/Admin/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
  <script src="~/Admin/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
  <script src="~/Admin/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>

  
  <script src="~/Admin/assets/js/page/datatables.js"></script>
  <!-- Template JS File -->
  <script src="~/Admin/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="~/Admin/assets/js/custom.js"></script>
</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>