@using YummyUI.DTOs.CategoryDTOs
@model List<ResultCategoryDto>
<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>Our Menu</h2>
  <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
</div><!-- End Section Title -->

<div class="container">
  <!--Product-->
  <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
    @foreach (var item in Model)
    {
      <li class="nav-item">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
          <h4>@item.CategoryName</h4>
        </a>
      </li>
    
      <!-- End tab nav item -->
    }
  </ul>

  @await Component.InvokeAsync("_MenuBreakfastSectionPartials")



</div>