@using YummyUI.DTOs.MessageDTOs
@model List<ResultMessageDto>
<li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
    class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
    <span class="badge headerBadge1">
      @ViewBag.messageCount </span> </a>
  <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
    <div class="dropdown-header">
      Messages
      <div class="float-right">
        <a href="#">Mark All As Read</a>
      </div>
    </div>
<div class="dropdown-list-content dropdown-list-message" style="height:auto; max-height:300px;">
      @foreach (var item in Model)
      {
        <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
            <img alt="image" src="assets/img/users/user-2.png" class="rounded-circle">
          </span> <span class="dropdown-item-desc"> <span class="message-user">@item.FullName</span> <span class="time messege-text">@item.Subject</span>
            <span class="time">@item.GetDate</span>
          </span>
        </a>
      }
    </div>
    <div class="dropdown-footer text-center">
      <a asp-action="MessagesList" asp-controller="Admin">Tümünü Görüntüle <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</li>